# Python-related
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating system files
.DS_Store
Thumbs.db

# Project-specific
*.log
*.sqlite3
*.db

# Dependency management
pip-log.txt
pip-delete-this-directory.txt

# Testing
.coverage
.tox/
.pytest_cache/

# Documentation
docs/_build/

# Distribution / packaging
.Python
develop-eggs/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
MANIFEST

# Migrations
migrations/
loan_tracker/.env
loan_tracker/create_superuser_script.py
